.socialmedia {
  width: 100%;
  height: 221px;
  display: flex;
}
.facebook {
  background-color: #3b5998;
  width: 33%;
  padding: 60px 0 60px 40px;
  display: flex;
  height: 100px;
}
.socailimg {
  display: block;
  background: url(/src/images/icons/Facebook-logo.png) no-repeat;
  width: 70px;
  height: 70px;
  background-size: 80px;
  margin-top: 31px;
}
.followtext {
  color: white;
  font-size: 20px;
}
.socialtext {
  color: white;
  font-size: 20px;
}
.twitterimg {
  display: block;
  background: url(/src/images/icons/twitter-logo.jpg) no-repeat;
  width: 70px;
  height: 70px;
  background-size: 60px;
  margin-top: 31px;
  background-color: #498cbf;
}
.twitterimg {
  display: block;
  background: url(/src/images/icons/twitter-logo.jpg) no-repeat;
  width: 70px;
  height: 70px;
  background-size: 60px;
  margin-top: 31px;
}
.twitter {
  background-color: #498cbf;
  width: 33%;
  padding: 60px 0 60px 40px;
  display: flex;
  height: 100px;
}
.pinterestimg {
  display: block;
  background: url(/src/images/icons/pinterest.png) no-repeat;
  width: 70px;
  height: 70px;
  background-size: 60px;
  margin-top: 31px;
}
.pinterest {
  background-color: #cc2127;
  width: 33%;
  padding: 60px 0 60px 40px;
  display: flex;
  height: 100px;
}
@media (min-width: 100px) and (max-width: 767px) {
  .socialmedia {
    flex-wrap: wrap;
    height: 320px;
  }
  .facebook {
    width: 100%;
    height: 50px;
    padding: 0px 0 60px 40px;
  }
  .twitter {
    width: 100%;
    height: 50px;
    padding: 0px 0 60px 40px;
  }
  .pinterest {
    width: 100%;
    height: 50px;
    padding: 0px 0 60px 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
