.Header {
  height: 500px;
  width: 100%;
  .img {
    background: url("../images/Home/home-bg.jpg") no-repeat;
    background-size: 100%;
    height: 600px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    .contain {
      margin-top: 150px;
      .name {
        font-size: 60px;
        font-weight: bold;
        color: #5e5e5e;
      }
      .position {
        font-size: 35px;
        color: #eb5424;
      }
      .describtion {
        font-size: 20px;
        color: #888;
        width: 500px;
        .special {
          color: black;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .Header {
    height: 192px;
    .img {
      background-repeat: no-repeat;
      .contain {
        margin-top: 40px;
        .name {
          font-size: 30px;
          font-weight: bold;
          color: #5e5e5e;
        }
        .position {
          font-size: 17px;
          color: #eb5424;
        }
        .describtion {
          font-size: 10px;
          color: #888;
          width: 300px;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .img {
    background-repeat: no-repeat;
    height: 485px;
    .contain {
      margin-top: 80px;
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
